[submodule "oca-addons/account-analytic"]
	path = oca-addons/account-analytic
	url = https://github.com/OCA/account-analytic.git
	branch = 14.0
[submodule "oca-addons/account-financial-tools"]
	path = oca-addons/account-financial-tools
	url = https://github.com/OCA/account-financial-tools.git
	branch = 14.0
[submodule "oca-addons/server-tools"]
	path = oca-addons/server-tools
	url = https://github.com/OCA/server-tools.git
	branch = 14.0
[submodule "oca-addons/sale-workflow"]
	path = oca-addons/sale-workflow
	url = https://github.com/OCA/sale-workflow.git
	branch = 13.0
[submodule "oca-addons/purchase-workflow"]
	path = oca-addons/purchase-workflow
	url = https://github.com/OCA/purchase-workflow.git
	branch = 14.0
[submodule "oca-addons/stock-logistics-warehouse"]
	path = oca-addons/stock-logistics-warehouse
	url = https://github.com/OCA/stock-logistics-warehouse.git
	branch = 15.0
[submodule "oca-addons/stock-logistics-workflow"]
	path = oca-addons/stock-logistics-workflow
	url = https://github.com/OCA/stock-logistics-workflow.git
	branch = 15.0
[submodule "oca-addons/web"]
	path = oca-addons/web
	url = https://github.com/OCA/web.git
	branch = 15.0
[submodule "oca-addons/l10n-france"]
	path = oca-addons/l10n-france
	url = https://github.com/OCA/l10n-france.git
	branch = 15.0
[submodule "extra-addons/JayVora-SerpentCS"]
	path = extra-addons/JayVora-SerpentCS
	url = https://github.com/JayVora-SerpentCS/SerpentCS_Contributions.git
	branch = 14.0
[submodule "oca-addons/operating-unit"]
	path = oca-addons/operating-unit
	url = https://github.com/OCA/operating-unit.git
	branch = 14.0
[submodule "oca-addons/social"]
	path = oca-addons/social
	url = https://github.com/OCA/social.git
	branch = 14.0
[submodule "oca-addons/social15"]
	path = oca-addons/social15
	url = https://github.com/OCA/social.git
	branch = 15.0
